# Respect default shortcuts.
$include /etc/inputrc

# arrow up and down with partial search
# https://askubuntu.com/questions/59846/bash-history-search-partial-up-arrow
## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward
